[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyspark = "*"
findspark = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
spark-nlp = "==1.7.3"

[dev-packages]
pylint = "*"
black = "*"
ipykernel = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
